.header {
  text-align: center;
  margin-top: 40px;
}

.section_header {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.right {
  float: right;
  margin-right: 55px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.right_icon {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}

.page_title {
  font-weight: bold;
  font-size: 1.20em;
  margin-left: 10px;
  margin-left: 10px;
}

.table {
  display: flex;
  flex-wrap: wrap;
}

.my_table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.leftlist {
  height: 300px;
  width: 370px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.rightlist {
  height: 300px;
  width: 258px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.left_section {
  width: 400px;
  margin: auto;
}

.left_section p {
  text-align: center;
}

.right_section {
  width: 300px;
  margin: auto;
}

.right_section p {
  text-align: center;
}

.table_title {
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.list_title {
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-decoration: underline;
}

.icon {
  font-size: 30px;
}

.btn {
  background: none;
  border: none;
  margin-left: 110px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 20px;
  width: auto;
}

.toc_title {
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}

#toc_container li, #toc_container ul, #toc_container ul li {
  list-style: outside none none !important;
}

.toc_list {
  display: inline-block;
  vertical-align: top;
}

ul {
  padding: 0;
  margin: auto;
}

.right_list {
  margin-left: 20px;
}

.spacing {
  margin-top: 0px;
}

.end {
  text-align: center;
  margin-top: 20px;
}

.paragraph {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.small_paragraph {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
}

.quoted-paragraph {
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 15px;
  text-align: center;
}

.bottom_nav {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.text_body {
  width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}

.underline {
  text-decoration: underline;
}

.center {
  margin-top: 20px;
  text-align: center;
}

.no-link {
  text-decoration: none;
  color: black;
}

.box {
  border: 1px solid black;
  padding: 5px;
  margin-left: 60px;
  margin-right: 60px;
}

.img_cover {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 25px;
}

.inline-img {
  margin-right: 20px;
  margin-left: 50px;
}

.inline-img-right {
  margin-left: 20px;
  margin-right: 50px;
}

.centered-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

.img-caption {
  text-align: center;
  display: block;
  margin-right: 10px;
  float: left;
  margin-left: 50px;
}

.centered-img-caption {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.centered-img-caption p {
  margin-top: 9px;
  margin-bottom: 9px;
}

.img-caption p {
  margin-top: 9px;
  margin-bottom: 9px;
}

.small-img {
  max-height: 140px;
}

.footer_text {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

footer {
  border-top: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-top: 15px;
}

@media screen and (max-width: 900px){
  .text_body {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
}

@media screen and (max-width: 640px){
  .text_body {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .paragraph {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .btn {
    background: none;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 480px){
  .text_body {
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .paragraph {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .left {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .right_icon {
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .btn {
    background: none;
    border: none;
    margin-left: 10px;
  }

  .audio {
    display: inline-table;
  }
}
