.header {
  text-align: center;
  margin-top: 40px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 20px;
  width: auto;
}

.toc_title {
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}

#toc_container li, #toc_container ul, #toc_container ul li {
  list-style: outside none none !important;
}

.toc_list {
  display: inline-block;
  vertical-align: top;
}

ul {
  padding: 0;
  margin: auto;
}

.right_list {
  margin-left: 20px;
}

.spacing {
  margin-top: 0px;
}
